# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Elly\Downloads\docker-tutorial-master\docker-tutorial-master\IMSE-Docker-Examples\springboot(Java)\api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
